################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/tafang/.vs/TowerDefense/v15/ipch
/tafang/.vs/TowerDefense/v15
/tafang/tafang/Release
/tafang/tafang/Debug
